#base {
  width: 100vw;
  height: 100vh;
  background-color: #E1D2E5;
  display: flex;
  justify-content: center;
  align-items: center;

  & > #root {
    width: 1020px;
    height: 735px;
    background: linear-gradient(180deg, #8C59F6 0%, #D284E2 100%);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    & > main {
      width: 100%;
      height: 94%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      & > .grid {
        width: 90%;
        height: 84%;
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        & > .main-page {
          width: 76%;
          height: 100%;
          background-color: #84e294;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          z-index: 1;
          right: 0%;
  
          & > .play {
            width: 520px;
            height: 564px;
            background-color: #D284E2;
          }
    
          & > .object-view {
            width: 20%;
            height: 60%;
            background-color: aqua;
          }
        }
  
        & > .score {
          width: 40%;
          height: 40%;
          background-color: #270fff;
          position: relative;
          z-index: 0;
  
        }
      }

      & > .back-view {
        width: 100%;
        height: 100%;
        background-color: #6EBEDA;
        position: absolute;
        z-index: 0;

      }
    }

    & > footer {
      width: 100%;
      height: 6%;
      background-color: #D7C8FE;
    }
    

  }
}



